body {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: url(../img/bg.jpg) no-repeat center top;
	background-size: cover;
	height: 100vh;
	font-family: sans-serif;
}

#login-box {
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	padding: 30px;
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#login-box .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translate(-50%, -40%);
	border: 2px solid #f1f1f1;
}
#login-box .avatar:hover {
	cursor: pointer;
}

#login-box h1 {
	text-align: center;
	margin: 0;
	padding: 0 0 20px;
	font-size: 25px;
}

#login-box hr {
	border: 1px dashed grey; 
	height: 0; 
	width: 60%;
}

#login-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
	font-size: 17pt;
}

#login-box input {
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}

#login-box input[type="text"],
#login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 12pt;;
}

#login-box input[type="submit"] {
	background: #1d1d78;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 18px;

}
#login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #4949a3;
}

#login-box a {
	color: #F18000;
}
#login-box a:hover {
	color: #FFC100;
}